.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
# Xcode
.DS_Store
*.xcuserstate
xcuserdata/

# Build products
build/
DerivedData/

# Sensitive information
*.xcconfig

# CocoaPods
Pods/
*.lock
*.xcworkspace
!default.podfile

# Swift Package Manager
.build/

# Carthage
/Carthage/Build/

# SwiftPackageManagerGenerated
Package.resolved

# Crashlytics
Crashlytics.xcframework/

# Code coverage
*.xcodecov.yml
*.xccoverage

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Other
*.swiftpm
*.xccheckout
*.moved-aside
*.xcscmblueprint

# IDE-specific
*.idea/
*.vscode/
